@font-face {
    font-family: Bitten;
    src: url(../IMG/RubikWetPaint-Regular.ttf) format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lixo {
    font-family: 'Bitten';
    color: lime;
}

body {
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://ligadoamusica.com.br/wp-content/uploads/2024/04/zumbis-do-espaco.jpg");
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
    z-index: 1;
}

header a {
    font-family: 'Bitten';
    color: white;
    text-decoration: none;
    color: hsl(13, 100%, 40%);
}

header a:hover {
    text-decoration: underline;
    color: lime;
    transition: 0.3s ease;
}

#logo {
    margin-left: 5vw;
    height: 15vh;
    transition: all 0.8s ease;
}

#logo.a {
    margin-top: 0.5vh;
    height: 10vh;
}

header ul {
    list-style: none;
    height: 70%;
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4rem;
    margin-right: 5vw;
}

header ul li {
    overflow: visible;
    position: relative;
    color: white;
}

main {
    display: flex;
    position: absolute;
    top: 20vh;
    width: 100%;
    height: 70vh;
}

.perfil {
    display: flex;
    align-items: center;
    border-radius: 10%;
    opacity: 95%;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 10%;
    height: 90%;
    width: 21%;
    margin-left: 3%;
    transition: 0.8s ease;
}

.perfil:hover {
    transition: 0.8s ease;
    transform: translateY(-5vh);
}

table {
    padding-left: 2%;
    padding-right: 1%;
}

table .lixo {
    padding-right: 2vw;
}

p .lixo {
    padding-right: 0.5vw;
}

p{
    padding-left: 2%;
    padding-right: 1%;
}

.top {
    border-radius: 10% 10% 0% 0%;

    padding: 0.5vw;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: white;
    height: 25%;
    background-color: rgb(25, 25, 25);

}

.top img {
    height: 100%;
    width: 48%;
    border-radius: 10%;

}

.top h1 {
    text-align: start;
}

.trunk {
    border-radius: 0% 0% 5% 5%;
    height: 70%;
    width: 100%;
    background-color: rgb(90, 90, 90);
    line-height: 2;
    color: rgb(18, 18, 18);
}

#shadow {
    width: 100%;
    margin-top: 85vh;
    height: 20vh;
    background-image: linear-gradient(to top, rgb(0, 0, 0), transparent);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: lightgray;
    margin-top: 105vh;
    background-color: black;
    height: 15vh;
    width: 100%;
    position: absolute;
}

footer ul {
    list-style: none;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}