@font-face {
    font-family: Bitten;
    src: url(../IMG/Bitten.ttf) format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://ligadoamusica.com.br/wp-content/uploads/2024/04/zumbis-do-espaco.jpg");
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
    z-index: 1;
    margin-top: 1vh;
}

header a {
    font-family: 'Bitten';
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
    color: hsl(13, 100%, 50%);
    transition: 0.3s ease;
}

#logo {
    margin-left: 5vw;
    height: 15vh;
}

header ul {
    list-style: none;
    height: 70%;
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4rem;
    margin-right: 5vw;
}

header ul li {
    color: white;
}

main {
    display: flex;
    position: absolute;
    top: 15vh;
    width: 100%;
    height: 70vh;
}

.perfil {
    opacity: 95%;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 10%;
    height: 80%;
    width: 20%;
    margin-left: 4%;
    transition: 0.8s ease;
}

.perfil:hover {
    scale: 1.1;
    transition: 0.8s ease;
    transform: translateY(-5vh);
}

.top {
    padding: 0.5vw;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: white;
    height: 30%;
    background-color: rgb(25, 25, 25);

}

.top img {
    height: 100%;
    width: 48%;
}

.top h1 {
    text-align: start;
}

.trunk {
    height: 70%;
    width: 100%;
    background-color: rgb(90, 90, 90);
    line-height: 2;
    color: rgb(18, 18, 18);
}

.trunk strong {
    margin-right: 1vw;
    color: black;
}

#shadow {
    width: 100%;
    margin-top: 85vh;
    height: 20vh;
    background-image: linear-gradient(to top, rgb(0, 0, 0), transparent);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: lightgray;
    margin-top: 105vh;
    background-color: black;
    height: 15vh;
    width: 100%;
    position: absolute;
    z-index: inherit;
}

footer ul {
    list-style: none;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}