@font-face {
    font-family: Bitten;
    src: url(../IMG/Bitten.ttf) format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("https://roadiecrew.com/wp-content/uploads/Zumbis08.jpg");
    background-size: cover;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
    z-index: 1;
}

header a{
    font-family: 'Bitten';
    color: white;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
    color: hsl(13, 100%, 50%);
    transition: 0.3s ease;
}

main{
    position: absolute;
    width: 100%;
    height: 85vh;
    margin-top: 15vh;
}

#video{
    position: fixed;
    top: 15vh;
    right: 3vw;
    height: 25vh;
    width: 25vw;
    background-color: white;
}

#video iframe{
    height: 100%;
    width: 100%;
}

#logo{
    margin-left: 5vw;
    height: 15vh;
}

header ul{
    list-style: none;
    height: 70%;
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4rem;
    margin-right: 5vw;
}

header ul li{
    color: white;
}

#shadow{
    width: 100%;
    margin-top: 85vh;
    height: 20vh;
    background-image: linear-gradient(to top, rgb(0, 0, 0), transparent);
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: lightgray;
    margin-top: 105vh;
    background-color: black;
    height: 15vh;
    width: 100%;
    position: absolute;
    z-index: inherit;
}

footer ul{
    list-style: none;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}