:root{
    --cor1: rgb(15, 78, 15);
    --cor2: rgb(112, 62, 0);
    --cor3: rgb(157, 0, 0);
}

@font-face {
    font-family: Bitten;
    src: url(../IMG/Bitten.ttf) format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('../IMG/Sobre-mim.png');
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
    z-index: 1;
}

header a{
        font-family: 'Bitten';
    color: white;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
    color: hsl(13, 100%, 50%);
    transition: 0.3s ease;
}

#logo{
    margin-left: 5vw;
    height: 15vh;
}

header ul{
    list-style: none;
    height: 70%;
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4rem;
    margin-right: 5vw;
}

header ul li{
    color: white;
}

#shadow{
    width: 100%;
    margin-top: 85vh;
    height: 20vh;
    background-image: linear-gradient(to top, rgb(0, 0, 0), transparent);
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: lightgray;
    margin-top: 105vh;
    background-color: black;
    height: 15vh;
    width: 100%;
    position: absolute;
    z-index: inherit;
}

footer ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}