@font-face {
    font-family: Bitten;
    src: url(../IMG/RubikWetPaint-Regular.ttf) format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../IMG/Sobre-mim.png');
    background-size: cover;
    background-position: center;
}

header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
}

header a {
    font-family: 'Bitten';
    color: white;
    text-decoration: none;
    color: hsl(13, 100%, 40%);
}

header a:hover {
    text-decoration: underline;
    color: lime;
    transition: 0.3s ease;
}

#logo {
    margin-left: 5vw;
    margin-top: 0.5vh;
}

#header {
    height: 15vh;
    transition: all 0.8s ease;
}

#header.a {
    height: 10vh;
}

header ul {
    list-style: none;
    height: 70%;
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4rem;
    margin-right: 5vw;
}

header ul li {
    color: white;
}

main {
    position: absolute;
    top: 15vh;
    width: 100%;
    height: 70vh;
}

#perfil-card {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 10%;
    left: 10vw;
    height: 80%;
    border-radius: 10%;
    width: 20%;
}

.perfil {
    padding: 0.5vw;
    border-radius: 15% 15% 0% 0%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 25%;
    background-color: hsl(13, 75%, 20%);
}

.perfil img {
    height: 90%;
    width: 23%;
    border-radius: 100%;
}

.perfil h1 {
    width: 50%;
    font-size: 2rem;
}

.sobre-mim {
    padding: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0% 0% 5% 5%;
    background-color: hsl(1, 60%, 40%);
}

.sobre-mim h2 {
    background-color: hsl(1, 55%, 40%);
    width: 100%;
    text-align: center;
    margin-bottom: 1vh;
    font-size: 1.6rem;
}

.sobre-mim p {
    font-size: 1.15rem;
    line-height: 1.4;
    text-align: center;
}

#objetivo {
    right: 10%;
    top: 20%;
    position: absolute;
    height: 60%;
    width: 50%;
    background-color: hsl(1, 60%, 40%);
    border-radius: 10% 10% 5% 5%;
}

#objetivo h1 {
    padding: 0.4vw;
    background-color: hsl(13, 75%, 20%);
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 3vh;
    border-radius: 10% 10% 0% 0%;
}

#objetivo p {
    font-size: 1.15rem;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 5vh;
}

#shadow {
    width: 100%;
    margin-top: 65vh;
    height: 20vh;
    background-image: linear-gradient(to top, rgb(0, 0, 0), transparent);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: lightgray;
    margin-top: 85vh;
    background-color: black;
    height: 15vh;
    width: 100%;
    position: absolute;
}

footer ul {
    list-style: none;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section {
    opacity: 95%;
}